<!doctype html>
<html lang="en">
    <head>
    <title>Bet Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-image: url('static/istockphoto-831597438-612x612.jpeg');">
        <div class="container text-white">
            <header class="d-flex justify-content-between" style="margin: 20px;">
                <div>
                    <h1>Bet Tracker</h1>
                </div>
                <div>
                    <button class="btn btn-danger" onclick="location.href='/new/bet'">Add a Bet</button>
                    <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
                </div>
            </header>
            <div style="margin: 20px;">
                <h2>{{user.first_name}}'s Bets</h2>
                <table class="table table-secondary table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Bet</th>
                            <th>Odds</th>
                            <th>Wager</th>
                            <th>Result</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for this_bet in all_bets %}
                        <tr>
                            <td>
                                <p>{{this_bet.bet}}</p>
                            </td>
                            <td>
                                <p>{{this_bet.odds}}</p>
                            </td>
                            <td>
                                <p>${{this_bet.wager}}</p>
                            </td>
                            <td>
                                <p>{{this_bet.result}}</p>
                            </td>
                            <td>
                                <button onclick="location.href='/edit/{{this_bet.id}}'">Edit</button>
                                <button onclick="location.href='/delete/{{this_bet.id}}'">Delete</button>
                                <button onclick="location.href='/show/{{this_bet.id}}'">View</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin: 20px;">
                <h2>All Winning Bets</h2>
                <table class="table table-info table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Bet</th>
                            <th>Odds</th>
                            <th>Bettor</th>
                            <th>Likes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for won_bet in all_liked_won_bets %}
                        <tr>
                            <td>
                                <p>{{won_bet.bet}}</p>
                            </td>
                            <td>
                                <p>{{won_bet.odds}}</p>
                            </td>
                            <td>
                                <p>{{won_bet.user.first_name}} {{won_bet.user.last_name}}</p>
                            </td>
                            <td>
                                <p>{{ won_bet.like_count }}</p>
                            </td>
                            {% if not won_bet.is_liked_by_logged_in_user %}
                            <td>
                                <a href="/bets/like/{{ won_bet.id }}">Like</a>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>