<!doctype html>
<html lang="en">
    <head>
    <title>Bet Tracker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-image: url('/static/istockphoto-831597438-612x612.jpeg');">
        <div class="container">
            <header class="d-flex justify-content-between">
                <div>
                    <h1 class="text text-white text-bolder">Add a Bet</h1>
                </div>
                <div>
                    <button class="btn btn-danger" onclick="location.href='/dashboard'">Dashboard</button>
                    <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
                </div>
            </header>
            <div>
                <form action="/create_bet", method="POST" class="text text-white text-bolder"> 
                    {% with messages = get_flashed_messages() %} 
                    {% if messages %} 
                        {% for message in messages %}  
                            <p>{{message}}</p> 
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <div class="form-group">
                        <label>Bet:</label>
                        <input class="form-control" type="text" name="bet" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Odds:</label>
                        <input class="form-control" type="number" name="odds" required>
                    </div>
                    <div class="form-group">
                        <label>Wager:</label>
                        <input class="form-control" type="number" name="wager" required>
                    </div>
                    <div class="form-group">
                        <select class="custom-select" name="result">
                            <option selected>Result</option>
                            <option value="won">Won</option>
                            <option value="lost">Lost</option>
                            <option value="push">Push</option>
                        </select>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>